body {
    width: 1280px;
    margin: 0;
}

canvas {
    top: 0;
    left:0;
    position: fixed;
}

#bottom-panel {
    position: fixed;
    width:1280px; 
    height: 100px;
    top:530;
    z-index:10;
    opacity:1;
}

.grab {
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
}

.grabbing {
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: grabbing;
}

.pointing {
    cursor: pointer;
}

#stats {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 5;

}

video {
    position: absolute;
    opacity: .5;
    left: 500px;
    display: none;
}

#play-button {
    color: #fff;
    width: 100%;
    height: 100%;
    background-color: #000;
    position:fixed;
    z-index: 30;
    text-align: center;
    padding-top: 300px;
}

#play-image {
    margin-left: 400px;
    width: 300px;
    height: 300px;
    background-image: url(../images/play_button.png);
}

#loading-graphic {
    width: 100%;
    height: 100%;
    background-color: #000;
    position:fixed;
    z-index: 25;
}

#loading-graphic div {

    border: 6px solid #6fc0ba;
    border-radius: 12px;
    position:fixed;
    visibility: hidden;
    font-size: 30pt;
    font-family:  "Roboto";
    color: #6fc0ba;
    /* color: #fff; */
    text-align: center;
    background-color: #000;
    padding: 0px 10px;

    -webkit-animation: pusate 1s infinite alternate;
    -moz-animation: pusate 1s infinite alternate;
    -animation: pusate 1s infinite alternate;
    text-shadow: 0 0 8px #ccc;

}


/*
#loading-graphic {
    width: 100%;
    height: 100%;
    text-align: center;
    display:inline-block;
    font-family: 'terminator';
    font-size: 30pt;
    color: #6fc0ba;
    border: 6px solid #6fc0ba;
    border-radius: 12px;
    padding: 0 10px;
    visibility: hidden;

    -webkit-animation: pusate 1s infinite alternate;
    -moz-animation: pusate 1s infinite alternate;
    -animation: pusate 1s infinite alternate;
    text-shadow: 0 0 8px #ccc;

}
*/

@-webkit-keyframes pusate {
    from { box-shadow: 0 0 10px #333; text-shadow: 0 0 8px #ccc; }
    to { box-shadow: 0 0 20px #ccc; text-shadow: 0 0 16px #ccc}
}
@-moz-keyframes pusate {
    from { box-shadow: 0 0 10px #333; text-shadow: 0 0 8px #ccc; }
    to { box-shadow: 0 0 20px #ccc; text-shadow: 0 0 16px #ccc}
}
@keyframes pusate {
    from { box-shadow: 0 0 10px #333; text-shadow: 0 0 8px #ccc; }
    to { box-shadow: 0 0 20px #ccc; text-shadow: 0 0 16px #ccc}
}


#please-rotate {
    cursor: pointer;
    display: none;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 40;
}

#rotate-image {
    background-image: url(../images/rotate.png);
    position: absolute;
    z-index: 90;
    width: 300px;
    height: 300px;
    background-size: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    animation: rotateFrames ease 2s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
    -webkit-animation: rotateFrames ease 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-transform-origin: 50% 50%;
    -moz-animation: rotateFrames ease 2s;
    -moz-animation-iteration-count: infinite;
    -moz-transform-origin: 50% 50%;
    -o-animation: rotateFrames ease 2s;
    -o-animation-iteration-count: infinite;
    -o-transform-origin: 50% 50%;
    -ms-animation: rotateFrames ease 2s;
    -ms-animation-iteration-count: infinite;
    -ms-transform-origin: 50% 50%;
}

#rotate-message {
    background-color: #000;
    font-size: 20pt;
    text-align: center;
    font-family: Verdana, Geneva, sans-serif;
    color: #fff;
    padding-top: 700px;
    z-index:500;
    position: absolute;
    width: 400px;
    height: 400px;
    /* position: absolute; */
    /* z-index: 40; */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#rotate-message small {
    font-size: 16pt;
    color: #ffcc00;

}

@keyframes rotateFrames{
  0% {
    transform:  rotate(0deg) ;
  }
  49% {
    transform:  rotate(90deg) ;
  }
  100% {
    transform:  rotate(90deg) ;
  }
}

@-moz-keyframes rotateFrames{
  0% {
    -moz-transform:  rotate(0deg) ;
  }
  49% {
    -moz-transform:  rotate(90deg) ;
  }
  100% {
    -moz-transform:  rotate(90deg) ;
  }
}

@-webkit-keyframes rotateFrames {
  0% {
    -webkit-transform:  rotate(0deg) ;
  }
  49% {
    -webkit-transform:  rotate(90deg) ;
  }
  100% {
    -webkit-transform:  rotate(90deg) ;
  }
}

@-o-keyframes rotateFrames {
  0% {
    -o-transform:  rotate(0deg) ;
  }
  49% {
    -o-transform:  rotate(90deg) ;
  }
  100% {
    -o-transform:  rotate(90deg) ;
  }
}

@-ms-keyframes rotateFrames {
  0% {
    -ms-transform:  rotate(0deg) ;
  }
  49% {
    -ms-transform:  rotate(90deg) ;
  }
  100% {
    -ms-transform:  rotate(90deg) ;
  }
}


