body {
    height: 4000px;
    width: 1280px;
}

canvas {
    position: fixed;
}

#bottom-panel {
    position: fixed;
    width:1280px; 
    height: 100px;
    top:530;
    z-index:10;
    opacity:1;
}

.grab {
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
}

.grabbing {
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: grabbing;
}

.pointing {
    cursor: pointer;
}

#stats {
    position: fixed;
    top: 0;
    right: 0;

}

video {
    position: absolute;
    opacity: .5;
    left: 500px;
    display: none;
}


#loading-graphic {
    position:fixed;
    z-index: 20;
    color: #fff;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #000;
}

#please-rotate {
    position:fixed;
    color: #fff;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 30;
    background-color: #000;
    display: none;
}
