<my-info-group></my-info-group>

<img src="images/quill.png" id="quill"/>

<my-control-panel current-position="currentPosition"></my-control-panel>
<my-name-panel></my-name-panel>
<my-skeleton width="800" height="800"></my-skeleton>
<my-circle-viz></my-circle-viz>

<my-group-panel title="Projects" current-position="{{currentPosition}}" index="0" ng-click="currentPosition=0">
    <my-encom-boardroom></my-encom-boardroom>
    <my-encom-globe></my-encom-globe>
    <my-hexasphere></my-hexasphere>
    <my-github-timeline></my-github-timeline>
    <my-streamed></my-streamed>
</my-group-panel>

<my-group-panel title="Biometrics" current-position="{{currentPosition}}" index="1" ng-click="currentPosition=1">
    <my-encom-boardroom></my-encom-boardroom>
    <my-encom-globe></my-encom-globe>
    <my-hexasphere></my-hexasphere>
    <my-github-timeline></my-github-timeline>
    <my-streamed></my-streamed>
</my-group-panel>

<my-group-panel title="Travels" current-position="{{currentPosition}}" index="2" ng-click="currentPosition=2">
    <my-encom-boardroom></my-encom-boardroom>
    <my-encom-globe></my-encom-globe>
    <my-hexasphere></my-hexasphere>
    <my-github-timeline></my-github-timeline>
    <my-streamed></my-streamed>
</my-group-panel>

<my-group-panel title="Online" current-position="{{currentPosition}}" index="3" ng-click="currentPosition=3">
    <my-encom-boardroom></my-encom-boardroom>
    <my-encom-globe></my-encom-globe>
    <my-hexasphere></my-hexasphere>
    <my-github-timeline></my-github-timeline>
    <my-streamed></my-streamed>
</my-group-panel>
<my-group-panel title="About" current-position="{{currentPosition}}" index="4" ng-click="currentPosition=4">
   This is a description about what this is

</my-group-panel>
<!--
<my-group-panel title="Vitals">
</my-group-panel>
<my-group-panel title="Travel">
</my-group-panel>
<my-group-panel title="Work">
</my-group-panel>
<my-group-panel title="Activity">
</my-group-panel>
-->

<my-bottom-panel></my-bottom-panel>
